setuptools
wheel
streamlit
scapy
pandas
numpy
joblib
Flask
Flask-SocketIO
simple-websocket
scikit-learn
psutil
lime
dill
tensorflow
plotly
matplotlib
seaborn
Werkzeug
# Add any other packages your app needs below
